<div>
    <h2>
        <span jhiTranslate="skeletonApp.parameter.home.title">Parameters</span>
        <button class="btn btn-primary float-right create-parameter" [routerLink]="['/', { outlets: { popup: ['parameter-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="skeletonApp.parameter.home.createLabel">
            Create new Parameter
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'skeletonApp.parameter.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="parameters">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="skeletonApp.parameter.domain">Domain</span></th>
            <th><span jhiTranslate="skeletonApp.parameter.parameter">Parameter</span></th>
            <th><span jhiTranslate="skeletonApp.parameter.name">Name</span></th>
            <th><span jhiTranslate="skeletonApp.parameter.description">Description</span></th>
            <th><span jhiTranslate="skeletonApp.parameter.value">Value</span></th>
            <th><span jhiTranslate="skeletonApp.parameter.creationUser">Creation User</span></th>
            <th><span jhiTranslate="skeletonApp.parameter.creationDateTime">Creation Date Time</span></th>
            <th><span jhiTranslate="skeletonApp.parameter.lastModifiedUser">Last Modified User</span></th>
            <th><span jhiTranslate="skeletonApp.parameter.lastModifiedDateTime">Last Modified Date Time</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parameter of parameters ;trackBy: trackId">
                <td><a [routerLink]="['../parameter', parameter.id ]">{{parameter.id}}</a></td>
                <td>{{parameter.domain}}</td>
                <td>{{parameter.parameter}}</td>
                <td>{{parameter.name}}</td>
                <td>{{parameter.description}}</td>
                <td>{{parameter.value}}</td>
                <td>{{parameter.creationUser}}</td>
                <td>{{parameter.creationDateTime | date:'medium'}}</td>
                <td>{{parameter.lastModifiedUser}}</td>
                <td>{{parameter.lastModifiedDateTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../parameter', parameter.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parameter/'+ parameter.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parameter/'+ parameter.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
